{% extends "./layouts/base.html" %}
{% load staticfiles %}

{% block content %}
    {% for c in clusters %}
        <section class="bs-docs-section">
            <div class="row">
                <div class="row-lg-12">
                    <div class="page-header">
                        <h1 id="type">
                            {% if c.top_article.country_id == 1 %}
                                <a href="{{c.top_article.url}}">
                                    {{c.top_article.title}}
                                </a>
                            {% else %}
                                <a href="http://translate.google.com/translate?sl=auto&tl=ja&js=y&prev=_t&hl=ja&ie=UTF-8&u={{c.top_article.url}}&edit-text=&act=url">
                                    {{c.top_article.title}}
                                </a>
                            {% endif %}
                        </h1>
                        <small>{{c.top_article.media_name}} {{c.top_article.published_at|date:"Y/m/d H:i"}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <a href="./">
                            <!--TODO: image is fake-->
                            {% if c.top_article.image_url == None %}
                                <img src="{% static 'img/noimage.png' %}">
                            {% else %}
                                <img src="{{c.top_article.image_url}}">
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <p>
                        {{c.top_article.content_intro}}
                    </p>
                    <ul class="list-unstyled">
                        {% for ar in c.cluster_articles %}
                            <li>
                                <ul class="list-unstyled">
                                    <p>
                                        <li>
                                            {% if ar.country_id == 1 %}
                                                <a href="{{ar.url}}">
                                                    {{ar.title}}
                                                </a>
                                            {% else %}
                                                <a href="http://translate.google.com/translate?sl=auto&tl=ja&js=y&prev=_t&hl=ja&ie=UTF-8&u={{ar.url}}&edit-text=&act=url">
                                                    {{ar.title}}
                                                </a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <small>{{ar.media_name}} {{ar.published_at|date:"Y/m/d H:i"}}</small>
                                        </li>
                                    </p>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
